body{
  background: black;
  font-family: 'Montserrat', sans-serif;
}
.app{
  margin:0 15% 0 15%;
}
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  border-bottom:3px solid white;
  margin: 0 60px 0 60px;

  .logo{
    width:250px;
    height:64px;
  }

  .link-box{

    a{
      color: white;
      text-decoration: none;
      margin-right: 20px;
      font-weight: 500;
      font-size: 14px;
    }
  }
}
main{
  #one{
    p{
      font-weight: 100;
      font-size: 28px;
      color: #a5a5a5;
      margin: 70px 160px 0 160px;
    }

    a{
      text-decoration: none;
      color: white;
      font-weight: 700;
      font-size: 20px;
      padding: 16px 70px;
      border: 2px solid white;
      margin: 50px 0 0 160px;
      display: inline-block;

    }
  }
  #two{
    display: none;
    justify-content: center;

    .team-member{

      width: 200px;
      height: 450px;
      margin: 20px 20px 0;
      text-align: left;
      color:white;

      .img-box{
        border: 8px solid #E8E8E8;
        width:180px;
        height:180px;
        box-shadow: 8px 8px 0px 1px #B0B0B0;

        img{
          width:180px;
          height:180px;

        }

      }
      .name-text{
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        margin: 25px 0 0 8px;
      }
      .desc1-text{
        font-size: 14px;
        font-weight: lighter;
        text-transform: uppercase;
        margin: 15px 0 0 8px;
      }
      .desc2-text{
        font-size: 14px;
        font-weight: lighter;
        margin: 15px 0 0 8px;
        color: #a5a5a5;
      }
      
      .contacts{
        margin: 25px 0 0 8px;
        border-top: 1px solid white;
        display: flex;
        flex-direction: column;
        font-size: 14px;

        span{
          display: inline-block;
          margin-top:10px;
        }
      }
      .c4 {
        margin-top: 61px;
      }
      .c3 {
        margin-top: 78px;
      }
      .c2 {
        margin-top: 43px;
      }
      .c1 {
        margin-top: 61px;

      }
    }
  }

}