@media (max-width: 1700px) {
  .app {
    margin: 0 10% 0 10%; } }
@media (max-width: 1490px) {
  .app {
    margin: 0 5% 0 5%; } }
@media (max-width: 1320px) {
  .app {
    margin: 0 1% 0 1%; } }
@media (max-width: 1211px) {
  header {
    height: 90px;
    border-bottom: 3px solid white;
    margin: 0 10% 0 10%; }
    header .burger-box {
      display: inline-block;
      border: 2px solid white;
      transition: .2s ease-in-out; }
      header .burger-box:active {
        transform: scale(0.9);
        box-shadow: none;
        outline: none; }
      header .burger-box a {
        color: white;
        text-decoration: none;
        width: 100%;
        height: 100%;
        padding: 5px 10px;
        display: inline-block;
        -webkit-tap-highlight-color: transparent; }
    header .link-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      margin-top: -420px;
      background: #131212;
      transition: .2s ease-in-out;
      position: fixed;
      right: 68px; }
      header .link-box a {
        display: flex;
        padding: 10px;
        color: white;
        text-decoration: none; }
        header .link-box a.active:after {
          left: 10px; }
      header .link-box.active {
        position: fixed;
        z-index: 99;
        display: flex;
        margin-top: 200px;
        right: 68px; }

  main #one {
    display: none; }
    main #one p {
      font-weight: 100;
      font-size: 16px;
      line-height: 36px;
      color: #a5a5a5;
      margin: 5% 10% 0 10%; }
    main #one a {
      text-decoration: none;
      color: white;
      font-weight: 700;
      font-size: 18px;
      padding: 10px 40px;
      border: 2px solid white;
      margin: 5% 0 0 10%;
      display: inline-block;
      transition: .2s ease-in-out; }
      main #one a:hover {
        background: white;
        color: #000; }
  main #two {
    display: none;
    justify-content: center;
    overflow: auto;
    flex-wrap: wrap; }
    main #two .team-member {
      width: 175px;
      height: 450px;
      margin: 20px 30px 0;
      text-align: left;
      color: white; }
      main #two .team-member .img-box {
        border: 8px solid #E8E8E8;
        width: 150px;
        height: 150px;
        box-shadow: 5px 5px 0px 1px #B0B0B0; }
        main #two .team-member .img-box img {
          width: 150px;
          height: 150px; }
      main #two .team-member .name-text {
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        margin: 20px 0 0 5px; }
      main #two .team-member .desc1-text {
        font-size: 12px;
        font-weight: lighter;
        text-transform: uppercase;
        margin: 5px 0 0 5px; }
      main #two .team-member .desc2-text {
        font-size: 12px;
        font-weight: lighter;
        margin: 5px 0 0 5px;
        color: #a5a5a5; }
      main #two .team-member .contacts {
        margin: 15px 0 0 5px;
        border-top: 1px solid white;
        display: flex;
        flex-direction: column;
        font-size: 12px; }
        main #two .team-member .contacts a {
          color: white;
          transition: .1s ease; }
          main #two .team-member .contacts a:hover {
            transform: scale(1.03); }
          main #two .team-member .contacts a:active {
            transform: scale(0.9); }
          main #two .team-member .contacts a span {
            display: inline-block;
            margin-top: 10px; }
      main #two .team-member .c4 {
        margin-top: 45px; }
      main #two .team-member .c3 {
        margin-top: 57px; }
      main #two .team-member .c2 {
        margin-top: 30px; }
      main #two .team-member .c1 {
        margin-top: 45px; }
  main #three #tabs {
    margin: 2% 10% 0 10%; }
    main #three #tabs ul {
      margin-bottom: 0; }
      main #three #tabs ul li {
        width: 198px;
        height: 150px; }
        main #three #tabs ul li a .sm-icon {
          width: 60px;
          height: 60px;
          position: relative; }
    main #three #tabs .tab {
      margin: 0; }
      main #three #tabs .tab .icon-container {
        padding: 0 50px; }
  main #six .panel {
    margin: 0 10%; }
  main #six .wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 10%;
    flex-wrap: wrap-reverse; }
    main #six .wrapper__article {
      width: 100%;
      margin-right: 0; }
      main #six .wrapper__article article {
        margin-top: 20px;
        border: 3px solid #727272;
        padding: 20px;
        -webkit-tap-highlight-color: transparent; }
        main #six .wrapper__article article h2 {
          color: white;
          margin-top: 0; }
        main #six .wrapper__article article p {
          color: #858585;
          font-size: 14px;
          font-weight: 100; }
    main #six .wrapper__form h3 {
      margin-top: 10px;
      color: white;
      margin-bottom: 10px; }
    main #six .wrapper__form label {
      color: #858585;
      font-size: 14px;
      font-weight: 100;
      margin-bottom: 10px; }
    main #six .wrapper__form input {
      font-family: 'Montserrat', sans-serif;
      border: 2px solid #666666;
      color: white;
      background: black;
      outline: none;
      width: 90%;
      height: 30px;
      margin-bottom: 20px;
      padding: 5px; }
    main #six .wrapper__form button {
      border: 2px solid white;
      padding: 10px 40px;
      text-transform: uppercase;
      font-weight: bold;
      transition: .2s ease-in-out;
      color: white;
      background: transparent;
      font-family: 'Montserrat', sans-serif; }
      main #six .wrapper__form button:hover {
        color: black;
        background: white;
        cursor: pointer; } }
@media (max-width: 768px) {
  header .logo-box .mb {
    font-size: 20px; }
  header .logo-box .cib {
    font-size: 8px; }

  main #one {
    display: none; }
    main #one p {
      font-weight: 100;
      font-size: 14px;
      line-height: 28px;
      color: #a5a5a5;
      margin: 5% 10% 0 10%; }
    main #one a {
      text-decoration: none;
      color: white;
      font-weight: 700;
      font-size: 14px;
      padding: 7px 30px;
      border: 2px solid white;
      display: inline-block;
      transition: .2s ease-in-out; }
      main #one a:hover {
        background: white;
        color: #000; }
  main .ui-tabs-panel {
    display: block; }
  main #three #tabs {
    margin: 2% 10% 0 10%; }
    main #three #tabs ul {
      justify-content: flex-start;
      margin: 0; }
      main #three #tabs ul li {
        width: 25%;
        height: auto; }
        main #three #tabs ul li a {
          transform: scale(0.5); }
          main #three #tabs ul li a .sm-icon {
            width: 60px;
            height: 60px;
            position: relative; }
          main #three #tabs ul li a span {
            font-size: 18px; }
    main #three #tabs .tab {
      margin: 0;
      height: 200px;
      text-align: left; }
      main #three #tabs .tab .title {
        font-size: 14px; }
      main #three #tabs .tab .text {
        font-size: 10px; }
      main #three #tabs .tab .icon-container {
        padding: 0 5px;
        transform: scale(0.5); }
  main #four {
    display: none;
    justify-content: center;
    flex-wrap: wrap; }
    main #four .box {
      width: 300px;
      height: auto; }
      main #four .box .head .logo {
        margin: 5px; }
        main #four .box .head .logo img {
          width: 45px;
          height: 45px; }
      main #four .box .head .name {
        color: white;
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
        margin-right: 10px; }
      main #four .box .head .name3 {
        padding: 40px; }
      main #four .box .head .line {
        width: 36%;
        border-bottom: 1px dashed #4A4A4A; }
      main #four .box .head .line2 {
        width: 38%; }
      main #four .box .text {
        display: inline-block;
        color: #6B6B6B;
        font-weight: 100;
        font-size: 12px;
        padding: 0 20px 0 0; }
  main #five {
    flex-wrap: wrap; }
    main #five .box {
      margin: 5%; }
  main #six .panel {
    margin: 0 10%; }
    main #six .panel .article {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden; }
  main #six .wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 10%;
    flex-wrap: wrap-reverse; }
    main #six .wrapper__article {
      width: 100%;
      margin-right: 0; }
      main #six .wrapper__article article {
        -webkit-tap-highlight-color: transparent; }
        main #six .wrapper__article article h2 {
          color: white;
          margin-top: 0;
          font-size: 20px; }
        main #six .wrapper__article article p {
          color: #858585;
          font-size: 14px;
          font-weight: 100; }
  main #seven {
    padding: 5px; }
    main #seven .link-box {
      margin: 0; }
      main #seven .link-box .link {
        display: flex;
        color: white;
        text-decoration: none;
        margin: 0 10px 10px 0; }
        main #seven .link-box .link__img {
          border: 2px solid #2B2B2B;
          padding: 10px; }
        main #seven .link-box .link__text {
          background: #2B2B2B;
          padding: 10px;
          line-height: 24px;
          font-size: 12px; } }
@media (max-width: 457px) {
  header {
    height: 90px;
    border-bottom: 3px solid white;
    margin: 10px 0; }
    header .logo-box .mb {
      font-size: 20px; }
    header .logo-box .cib {
      font-size: 8px; }

  main #one {
    display: none; }
    main #one p {
      font-weight: 100;
      font-size: 12px;
      line-height: 20px;
      color: #a5a5a5;
      margin: 5% 10% 0 10%; }
    main #one a {
      text-decoration: none;
      color: white;
      font-weight: 700;
      font-size: 14px;
      padding: 7px 30px;
      border: 2px solid white;
      display: inline-block;
      transition: .2s ease-in-out; }
      main #one a:hover {
        background: white;
        color: #000; }
  main #three #tabs {
    margin: 0; }
    main #three #tabs ul {
      justify-content: flex-start;
      margin: 0; }
      main #three #tabs ul li {
        width: 25%;
        height: auto; }
        main #three #tabs ul li a {
          transform: scale(0.5); }
          main #three #tabs ul li a .sm-icon {
            width: 60px;
            height: 60px;
            position: relative; }
          main #three #tabs ul li a span {
            font-size: 14px; }
    main #three #tabs .tab {
      margin: 0;
      height: 150px;
      text-align: left; }
      main #three #tabs .tab div {
        height: 100%; }
      main #three #tabs .tab .title {
        font-size: 11px;
        margin: 5px 2px 2px 2px; }
      main #three #tabs .tab .text {
        font-size: 10px;
        padding: 0; }
      main #three #tabs .tab .icon-container {
        padding: 0 5px;
        transform: scale(0.3);
        margin: -30px; }
  main #six {
    display: none;
    text-align: center; }
    main #six .panel {
      height: 40px;
      background: #1A1A1A;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: 0;
      padding: 0 0 0 20px;
      font-size: 12px;
      font-weight: 500;
      color: white;
      text-transform: uppercase; }
      main #six .panel span {
        margin-right: 15px;
        font-size: 12px; }
      main #six .panel .blog {
        color: #535353; }
      main #six .panel .arrow2 {
        display: none; }
      main #six .panel .article {
        color: #535353;
        font-size: 12px;
        text-transform: none; }
    main #six .wrapper {
      display: flex;
      justify-content: center; }
      main #six .wrapper__article {
        width: 100%;
        margin-right: 40px; }
        main #six .wrapper__article article {
          margin-top: 20px;
          border: 3px solid #727272;
          padding: 20px; }
          main #six .wrapper__article article:hover {
            cursor: pointer; }
          main #six .wrapper__article article h2 {
            color: white;
            margin-top: 0; }
          main #six .wrapper__article article p {
            color: #858585;
            font-size: 14px;
            font-weight: 100;
            text-align: left; }
      main #six .wrapper__form {
        background: #212121;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-left: 25px;
        margin-top: 20px;
        height: 220px;
        width: 300px; }
        main #six .wrapper__form h3 {
          margin-top: 0;
          color: white;
          margin-bottom: 10px; }
        main #six .wrapper__form label {
          color: #858585;
          font-size: 14px;
          font-weight: 100;
          margin-bottom: 10px; }
        main #six .wrapper__form input {
          font-family: 'Montserrat', sans-serif;
          border: 2px solid #666666;
          color: white;
          background: black;
          outline: none;
          width: 90%;
          height: 30px;
          margin-bottom: 20px;
          padding: 5px; }
        main #six .wrapper__form button {
          border: 2px solid white;
          padding: 10px 40px;
          text-transform: uppercase;
          font-weight: bold;
          transition: .2s ease-in-out;
          color: white;
          background: transparent;
          font-family: 'Montserrat', sans-serif; }
          main #six .wrapper__form button:hover {
            color: black;
            background: white;
            cursor: pointer; } }

/*# sourceMappingURL=styles.mobile.css.map */
