
body{
  background:url("/img/bg.png");
  font-family: 'Montserrat', sans-serif;
}
.app{
  //padding:0 15% 0 15%;
  border: 20px solid #022737;
  padding: 20px;
  min-height:calc(100vh - 100px);
  position: relative;
}
.cloak{
  width:100vw;
  height:100vh;
  background: #131212;
  position: absolute;
  top:0;
  left:0;
  z-index: 99;
}


.sk-cube-grid {
  width: 60px;
  height: 60px;
  position: absolute;
  top:35%;
  right:0; left:0;
  margin: 0 auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #a29e9e;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  } 35% {
      -webkit-transform: scale3D(0, 0, 1);
      transform: scale3D(0, 0, 1);
    }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  } 35% {
      -webkit-transform: scale3D(0, 0, 1);
      transform: scale3D(0, 0, 1);
    }
}



.header-mobile, .burger-box {
  display: none;
}



header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  border-bottom:3px solid white;
  margin: 0 60px 0 60px;

  .logo-box{
    display: flex;
    flex-direction: column;

    .logo{
      width:158px;
      height:45px;
    }
    span{
      display: inline-block;
    }
    .mb{
      font-size: 28px;
      text-transform: uppercase;
      font-weight: 500;
      color: white;
    }
    .cib{
      font-size: 10px;
      text-transform: uppercase;
      font-weight: 900;
      color: #A0A0A2;

    }
  }

  .link-box{


    a{
      color: white;
      text-decoration: none;
      margin-right: 20px;
      font-weight: 500;
      font-size: 14px;

      &.active{
        padding-bottom: 7px;
        position: relative;

        &:after{
          content: "_";
          position: absolute;
          bottom: -10px;
          left: 0;
          font-size: 35px;
        }
      }
    }
    .cross{
      display:none;
    }
  }
}
main{
  #one{
    display: none;

    p{
      font-weight: 100;
      font-size: 20px;
      line-height:40px;
      color: #a5a5a5;
      margin: 50px 160px 0 160px;
    }

    a{
      text-decoration: none;
      color: white;
      font-weight: 700;
      font-size: 20px;
      padding: 15px 60px;
      border: 2px solid white;
      margin: 30px 0 0 160px;
      display: inline-block;
      transition: .2s ease-in-out;

      &:hover{
        background: white;
        color: #000;
      }

    }
  }
  #two{
    display: none;
    justify-content: center;


    .team-member{

      width: 175px;
      height: 450px;
      margin: 20px 20px 0;
      text-align: left;
      color:white;
      display: flex;
      flex-direction: column;

      .img-box{
        border: 8px solid #E8E8E8;
        width:150px;
        height:150px;
        box-shadow: 5px 5px 0px 1px #B0B0B0;

        img{
          width:150px;
          height:150px;

        }

      }
      .content-box{

        .name-text{
          font-size: 14px;
          font-weight: bold;
          text-transform: uppercase;
          margin: 20px 0 0 5px;
        }
        .desc1-text{
          font-size: 12px;
          font-weight: lighter;
          text-transform: uppercase;
          margin: 5px 0 0 5px;
        }
        .desc2-text{
          font-size: 12px;
          font-weight: lighter;
          margin: 5px 0 0 5px;
          color: #a5a5a5;
        }

        .contacts{
          margin: 15px 0 0 5px;
          border-top: 1px solid white;
          display: flex;
          flex-direction: column;
          font-size: 12px;

          a{
            color: white;
            transition: .1s ease;

            &:hover{
              transform:scale(1.03);
            }
            &:active{
              transform:scale(0.9);
            }
            span{
              display: inline-block;
              margin-top:10px;
            }
          }


        }
        .c4 {
          margin-top: 45px;
        }
        .c3 {
          margin-top: 57px;
        }
        .c2 {
          margin-top: 30px;
        }
        .c1 {
          margin-top: 45px;

        }
      }

    }
  }
  #three{
    display:none;
    color:white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    #tabs{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: 2% 60px 0 60px;
      min-width:1025px;

      .mobile-tabs{

        display: none;
      }

      ul{

        display: flex;
        justify-content: center;
        list-style: none;
        padding-left: 0;
        flex-wrap: wrap;
        margin: 0 10% 0 10%;
        min-width: 844px;


        li{
          width:20%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          outline: none;
          &:hover{
            background: #333333;
          }
          border-bottom: 2px solid transparent;

          a{
            text-decoration: none;
            color:white;
            font-weight: 500;
            text-transform: uppercase;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            outline: none;
            border: none;
            width:100%;
            height:100%;
            -webkit-tap-highlight-color: transparent;



            .sm-icon{
              width:40px;
              height:40px;
              position:relative;
              margin-top: 10px;

            }
            .sm-icon1 {

              background: #B4B4B4;
              box-shadow: 3px 3px 0 1px #777777;
              display: flex;
              justify-content: center;
              align-items: center;
              text-align: center;

              .pie{
                width:25px;
                height:25px;
                border-radius: 40px;
                background-color: #5E5E5E;
                background-image:
                        linear-gradient(180deg, transparent 50%, white 50%),
                        linear-gradient(90deg, white 50%, transparent 50%);
              }

            }
            .sm-icon2 {

              .circ{
                background: white;
                border-radius: 40px;
                width:25px;
                height:25px;
                position: absolute;
              }
              .circle1{
                top:0; left: 0; right:0;
                margin: 0 auto;
                background:#6E6E6E;
                z-index: 3;
              }
              .circle2{
                top:20px; left: -3px;
                background: white;
                z-index: 2;

              }
              .circle3{
                top:20px; right: -3px;
                background: #9F9F9F;
                z-index: 1;

              }
            }
            .sm-icon3{
              background: white;
              box-shadow: 3px 3px 0 1px #777777;
              display: flex;
              flex-direction: column;
              justify-content: flex-start;
              align-items: center;
              text-align: center;

              .panel{
                background: #B0B0B0;
                height:35%;
                width:100%;
                position: relative;

                &:before,&:after{
                  content: '.';
                  font-size: 35px;
                  color: #777777;
                  position: absolute;
                  top:-180%;
                }

                &:before{
                  left:15%;
                }
                &:after{
                  right:15%;
                }
              }
            }
            .sm-icon4{
              background: white;
              display: flex;
              flex-direction: column;
              justify-content: flex-start;
              align-items: center;
              text-align: center;

              .panel{
                background: #6F6F6F;
                height:60%;
                width:100%;
                position: relative;

                .circle{
                  position: absolute;
                  left:0; right: 0; top:5px;
                  margin: 0 auto;
                  width: 15px;
                  height: 15px;
                  border-radius: 30px;
                  background: #ABABAB;

                }
                &:before,&:after{
                  content: '.';
                  font-size: 28px;
                  color: #ABABAB;
                  position: absolute;
                  top: -52%;
                }

                &:before{
                  left:12%;
                }
                &:after{
                  right:12%;
                }
              }
              .panel2{
                width: 100%;
                height: 13%;
                background: #AAAAAA;
              }
              .panel3{
                width: 100%;
                height: 13%;
                background: #CECECE;
              }

            }

            span {
              font-size: 12px;
              display: inline-block;
              padding: 10px 0;
              word-wrap: break-word;
              line-height: 16px;
            }
          }
        }

        .ui-tabs-active{
          border-bottom: 2px solid #999999;
        }
      }
      .desc-tab{
        min-width: 1055px;
      }
      .tab{
        background: #131212;
        text-align: justify;
        height: 220px;
        width: 675px;
        border:1px solid #353535;
        margin: 0 18% 0 18%;
        display: flex;
        justify-content: flex-start;
        align-items: center;


      .icon-container{

        padding: 0 50px;

        .lg-icon1{

          background: #B4B4B4;
          box-shadow: 7px 7px 0 1px #777777;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          width: 70px;
          height: 70px;

          .pie{
            width:50px;
            height:50px;
            border-radius: 90px;
            background-color: #5E5E5E;
            background-image:
                    linear-gradient(180deg, transparent 50%, white 50%),
                    linear-gradient(90deg, white 50%, transparent 50%);
          }
        }

        .lg-icon2{
          width:70px;
          height:75px;
          position: relative;
          .circ{
            background: white;
            border-radius: 50px;
            width:43px;
            height:43px;
            position: absolute;
          }
          .circle1{
            top:5px; left: 0; right:0;
            margin: 0 auto;
            background:#6E6E6E;
            z-index: 3;
          }
          .circle2{
            top:40px; left: -3px;
            background: white;
            z-index: 2;

          }
          .circle3{
            top:40px; right:-3px;
            background: #9F9F9F;
            z-index: 1;

          }
        }

        .lg-icon3{
          width:70px;
          height:70px;
          background: white;
          box-shadow: 7px 7px 0 1px #777777;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
          text-align: center;

          .panel{
            background: #B0B0B0;
            height:35%;
            width:100%;
            position: relative;

            &:before,&:after{
              content: '.';
              font-size: 65px;
              color: #777777;
              position: absolute;
              top:-190%;
            }

            &:before{
              left:15%;
            }
            &:after{
              right:15%;
            }
          }
        }

        .lg-icon4{
          margin-top: 10px;
          width:70px;
          height:78px;
          background: white;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
          text-align: center;

          .panel{
            background: #6F6F6F;
            height:60%;
            width:100%;
            position: relative;

            .circle{
              position: absolute;
              left:0; right: 0; top:10px;
              margin: 0 auto;
              width: 25px;
              height: 25px;
              border-radius: 30px;
              background: #ABABAB;

            }
            &:before,&:after{
              content: '.';
              font-size: 52px;
              color: #ABABAB;
              position: absolute;
              top:-50%;
            }

            &:before{
              left:12%;
            }
            &:after{
              right:12%;
            }
          }
          .panel2{
            width: 100%;
            height: 13%;
            background: #AAAAAA;
          }
          .panel3{
            width: 100%;
            height: 13%;
            background: #CECECE;
          }
        }
      }

        .title{
          font-size: 20px;
          font-weight: 900;
          text-align: left;
          margin:10px 0 5px 0;
        }
        .text{
          color: #636363;
          font-size: 16px;
          font-weight: 100;
          text-align: left;
          //padding-right: 40px;
          margin:0;
        }

      }
    }
  }
  #four{
    display: none;
    justify-content: center;


    .box{
      width: 400px;

      .head{
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .logo{
          margin:20px 20px 10px 20px;

          img{
            width:65px;
            height:65px;
          }
        }

        .name{

          color:white;
          font-size: 24px;
          font-weight: bold;
          text-transform: uppercase;
          margin-right: 10px;

        }
        .name3{
          padding: 40px;
        }

        .line{
          width:36%;
          border-bottom: 1px dashed #4A4A4A;
        }
        .line2{
          width:38%;
        }
      }
      .text{
        color: #6B6B6B;
        font-weight: 100;
        font-size: 15px;
        padding: 0 20px;
      }
    }
  }
  #five{

    display: none;
    justify-content:center;
    align-items: center;

    .box{

      color:white;
      width:335px;
      display: flex;
      flex-direction: column;
      margin: 50px 50px;


      p{
        font-size: 24px;
        font-weight: bold;
        text-transform: uppercase;

      }
      span{
        color: #6B6B6B;
        font-weight: 100;
        font-size: 15px;
        display: inline-block;
        margin-bottom: 20px;
      }
      a{

        border:2px solid white;
        color: white;
        padding: 10px 15px;
        width:180px;
        text-decoration: none;
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
        transition: .2s ease-in-out;

        &:hover{
          background: white;
          color: #000;
        }
      }
    }
  }
  #six {
    display: none;
    text-align: center;

    .panel{
      height:40px;
      background: #1A1A1A;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin:0 60px;
      padding: 0 0 0 20px;
      font-size: 12px;
      font-weight: 500;
      color:white;
      text-transform: uppercase;

      span{
        margin-right: 15px;
      }
      .blog{
        color: #535353;
      }
      .arrow2{
        display: none;
      }
      .article{
        color: #535353;
        font-size: 12px;
        text-transform: none;
      }
    }

    .wrapper{
      display: flex;
      justify-content:center;


      &__article{

        width:56%;
        margin-right: 40px;

        article{
          margin-top: 20px;
          border: 3px solid #727272;
          padding: 20px;

          &.read{

          }

          &:hover {
            cursor: pointer;
          }

          h2{
            color:white;
            margin-top: 0;
            margin-left: 0;
            text-align: left;
          }
          p{
            color: #858585;
            font-size: 14px;
            font-weight: 100;
            text-align: left;
          }
        }
      }

      &__form{
        background: #212121;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-left: 25px;
        margin-top: 20px;
        height: 220px;
        width:300px;

        h3{
          margin-top: 0;
          color:white;
          margin-bottom: 10px;
        }
        label {
          color: #858585;
          font-size: 14px;
          font-weight: 100;
          margin-bottom: 10px;
        }
        input{
          font-family: 'Montserrat', sans-serif;
          border:2px solid #666666;
          color: white;
          background: black;
          outline: none;
          width: 90%;
          height: 30px;
          margin-bottom: 20px;
          padding: 5px;
        }
        button{
          border:2px solid white;
          padding: 10px 40px;
          text-transform: uppercase;
          font-weight: bold;
          transition: .2s ease-in-out;
          color: white;
          background: transparent;
          font-family: 'Montserrat', sans-serif;


          &:hover{
            color: black;
            background: white;
            cursor: pointer;
          }
        }
      }
    }
  }
  #seven {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 80px;

    .get-in-touch-txt{
      font-weight: bold;
      font-size: 24px;
      text-transform: uppercase;
      color: white;
    }
    .link-box{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 30px;
      flex-wrap: wrap;

      .link{
        display: flex;
        color: white;
        text-decoration: none;
        margin: 0 35px 10px 0;

        &__img{
          border: 2px solid #2B2B2B;
          padding: 15px;
        }
        &__text{
          background: #2B2B2B;
          padding: 15px;
          line-height: 25px;
        }
      }
    }

  }
}
